.has-bg-img {
  background: url('https://images.pexels.com/photos/2760343/pexels-photo-2760343.jpeg?cs=srgb&dl=artisan-danger-dark-2760343.jpg&fm=jpg') center center;
  background-size:cover;
}

#map-iframe {
  width: 100%; height: 520px; border: 1px solid black;
  transition: transform .5s;
  /* zoom: 0.15;
    -moz-transform:scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0; */
}

#map-iframe:hover {
  transform: scale(0.9);
}